+b.header-search
  +e.close
  +e.search-icon: include ../../../icons/ic_zoom.svg
  +e.container.container
    +e.content
      +e.input-container
        +b.input._theme_border-gray(type='text' placeholder="" )
        +e.hint Например, корпоративные программы
      +e.popular-search
        +e.heading Чаще всего ищут
        +e.cards-container._js-carousel-search-cards
          +e.card(href='#')
            +e.card-content
              +e.icon
                +e.IMG(src='/../local/templates/npfsb/images/ic__search-ops.png')
              +e.title Обязательное<br>пенсионное страхование
              +e.descr Все о государственной пенсии
          +e.card(href='#')
            +e.card-content
              +e.icon
                +e.IMG(src='/../local/templates/npfsb/images/ipp-about-icon.png')
              +e.title Индивидуальные<br>пенсионные планы
              +e.descr Увеличь свою будущую пенсию
          +e.card(href='#')
            +e.card-content
              +e.icon: include ../../../icons/ic_statement.svg
              +e.title Отправить расписку из ПФР
              +e.descr Для учета перехода в НПФ
