div.top-menu-drop
  +b.container
    div.top-menu-drop-col
      h2.top-menu-drop-col__menu-name Для себя
      p.top-menu-drop-col__menu-desc.
        Узнайте, что такое НПФ,<br>почему он выгоден и как сохранить<br>и приумножить накопительную пенсию
    ul.top-menu-drop-col
      li.top-menu-drop-col__list
        a.top-menu-drop-col__link(href="/bundle/product/ipp/index.html") Индивидуальные пенсионные<br>планы
          span.top-menu-drop-col__icon: include ../../../icons/ic_arrow_next.svg
      li.top-menu-drop-col__list
        a.top-menu-drop-col__link(href="/bundle/product/ops/index.html") Обязательное пенсионное<br>страхование
          span.top-menu-drop-col__icon: include ../../../icons/ic_arrow_next.svg
      li.top-menu-drop-col__list
        a.top-menu-drop-col__link(href="/bundle/services.html") Клиентам НПФ Сбербанка
          span.top-menu-drop-col__icon: include ../../../icons/ic_arrow_next.svg
      li.top-menu-drop-col__list
        a.top-menu-drop-col__link(href="/bundle/faq/faq-index.html") Вопросы и ответы
          span.top-menu-drop-col__icon: include ../../../icons/ic_arrow_next.svg
    A.top-menu-drop-col.top-menu-drop-col_block(href='/bundle/forms/form-stage-1.html')
      div.top-menu-drop-col_block__image.top-menu-drop-col_block__image_self
      h3.top-menu-drop-col_block__name Заключить договор онлайн
      p.top-menu-drop-col_block__desc Оформите договор индивидуального<br>пенсионного плана
    div.g-clear
