@font-face
  font-family 'SeroPro'
  src url($fonts-path + 'seropro-thin.eot')
  src url($fonts-path + 'seropro-thin.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'seropro-thin.woff') format('woff'),
      url($fonts-path + 'seropro-thin.ttf') format('truetype')
  font-weight 100
  font-style normal

@font-face
  font-family 'SeroPro'
  src url($fonts-path + 'seropro-extralight.eot')
  src url($fonts-path + 'seropro-extralight.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'seropro-extralight.woff') format('woff'),
      url($fonts-path + 'seropro-extralight.ttf') format('truetype')
  font-weight 200
  font-style normal

@font-face
  font-family 'SeroPro'
  src url($fonts-path + 'seropro-light.eot')
  src url($fonts-path + 'seropro-light.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'seropro-light.woff') format('woff'),
      url($fonts-path + 'seropro-light.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'SeroPro'
  src url($fonts-path + 'seropro.eot')
  src url($fonts-path + 'seropro.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'seropro.woff') format('woff'),
      url($fonts-path + 'seropro.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face
  font-family 'SeroPro'
  src url($fonts-path + 'seropro-medium.eot')
  src url($fonts-path + 'seropro-medium.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'seropro-medium.woff') format('woff'),
      url($fonts-path + 'seropro-medium.ttf') format('truetype')
  font-weight 500
  font-style normal

@font-face
  font-family 'SeroPro'
  src url($fonts-path + 'seropro-bold.eot')
  src url($fonts-path + 'seropro-bold.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'seropro-bold.woff') format('woff'),
      url($fonts-path + 'seropro-bold.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'SeroPro'
  src url($fonts-path + 'seropro-black.eot')
  src url($fonts-path + 'seropro-black.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'seropro-black.woff') format('woff'),
      url($fonts-path + 'seropro-black.ttf') format('truetype')
  font-weight 900
  font-style normal
