transition()
  transition-timing-function cubic-bezier(0, 0, .2, 1)
  transition-duration $transition-duration
  transition-property arguments

$typography-12 =
  font-size 12px
  line-height unit(20 / @font-size, '')
  letter-spacing .03em

$typography-14 =
  font-size 14px
  font-weight 300
  line-height unit(24 / @font-size, '')
  letter-spacing .02em

$typography-16 =
  font-size 16px
  line-height unit(30 / @font-size, '')
  font-weight 300

$typography-18 =
  font-size 18px
  font-weight 300
  line-height unit(30 / @font-size, '')

$typography-20 =
  font-size 20px
  line-height unit(30 / @font-size, '')
  letter-spacing -.015em
  font-weight 300

$typography-26 =
  font-weight 500
  font-size 26px
  line-height unit(36 / @font-size, '')
  letter-spacing -.02em

$card =
  box-shadow: 1px 3px 10px rgba(#000, 0.10);
  border-radius 6px
  background #fff
