*,
*::before,
*::after
  box-sizing border-box

html
  -ms-text-size-adjust 100%
  -webkit-tap-highlight-color transparent
  -webkit-text-size-adjust 100%
  -webkit-touch-callout none
  overflow-x hidden
  text-rendering geometricprecision
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

body
  font-family 'SeroPro', sans-serif
  color colorMako

a
  outline 0
  color inherit
  transition color
  text-decoration none

img
textarea
  vertical-align top

svg
  fill currentcolor
  vertical-align top
  shape-rendering geometricprecision

input
textarea
  outline 0
  color #3d4349
  padding 0
  margin 0
  border 0
  font inherit
  line-height normal
  appearance none
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

button
  appearance none

b
strong
  font-weight 500
