@import '../../../node_modules/rupture/rupture'

rupture.scale = 0 767px 1199px
rupture.scale-names = 'xs' 'sm' 'md'

rupture.anti-overlap = true

rupture.mobile-cutoff = 799px
rupture.desktop-cutoff = 1199px

$fonts-path ?= "/fonts/"

$transition-duration = .2s
$transition-timing-function = cubic-bezier(0.0, 0.0, 0.2, 1)

$colors-cpp = #00703c
$colors-cpp-second = #00703c

$colors-ops = #1a991a
$colors-ops-second = #76bb33

colorCatskillWhite = #f3f6f9
colorForestGreen = #1a991a
colorFunGreen = #00703c
colorGrandis = #ffd97f
colorIron = #dfe2e5
colorMako = #3d4349
colorPear = #d6e03e
colorShuttleGray = #5b6065
colorSun = #ffa715
colorSushi = #76bb33
colorWarning = #ee353a