mixin header-banner(subtitle, title, images, ...links)
  +b.header-banner(style="background-image: url(/local/templates/npfsb/images/" + images + ")")
    +e.container.container
      +e.subtitle!=subtitle
      +e.title!=title
      +e.links._js_header-links
        - var i = 0
        each item in links
          if !i
            +e.A.link._current(href="#")=item
          else
              if item == "Еще"
                +e.A.link(href="#")
                  +e.SPAN= item
                  +e.SPAN.icon
                    img(src="/local/templates/npfsb/images/ic_dots.png")
              else
                +e.A.link(href="#")= item
          - i++
