<div class="npf-step" [ngClass]="{'_complete': !isForm}">
  <span class="npf-step__index">{{index}}</span>
  <span class="npf-step__progress">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-1 -1 34 34">
      <g fill="none" fill-rule="evenodd" stroke-width="2">
        <path fill="#fff" stroke="#dfe2e5" d="M16 0c8.837 0 16 7.164 16 16 0 8.837-7.163 16-16 16S0 24.837 0 16C0 7.164 7.163 0 16 0z"></path>
        <path class="npf-step__progress-value" fill="none" stroke="currentcolor" style="stroke-dashoffset: 160px; stroke-dasharray: 160px, 160px;"
          d="M16 0c8.837 0 16 7.164 16 16 0 8.837-7.163 16-16 16S0 24.837 0 16C0 7.164 7.163 0 16 0z"></path>
      </g>
    </svg>
  </span>
  <span class="npf-step__icon">
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.75 17.25c.36.36.94.36 1.3 0l8.68-8.68a.92.92 0 0 0 0-1.3.92.92 0 0 0-1.3 0l-8.03 8.02-3.83-3.88a.92.92 0 0 0-1.3 0 .92.92 0 0 0 0 1.3l4.48 4.54z"
        fill-rule="evenodd"></path>
    </svg>
  </span>

</div>