$select2 = '.select2'

{ $select2 }
  &-container--npf
    background-color transparent
    font-family 'SeroPro', sans-serif
    font-size 18px
    font-weight 300
    letter-spacing .020em
    line-height ( 30/18 )
    padding-bottom 3px
    // z-index 10000
    padding-right 40px

    @media screen and (min-width:$screen-sm-min)
      padding-right 20px
    
    .select2-selection__placeholder
      color #afafb1
    
    .select2-selection--single
      .select2-selection__arrow
        b
          display none


    &.select2-container--open
      .select2-selection--single
        .select2-selection__arrow
          b
            border-color transparent transparent #fff transparent
            border-width 0 6px 6px 6px


    .select2-selection--single
      .select2-selection__arrow
        height 26px
        position absolute
        top 1px
        right 1px
        width 20px

    .select2-results__option
      position relative

    .select2-results__option[aria-selected=true]
      &::after
        content ''
        position absolute
        right 20px
        top 50%
        width 13px
        height 10px
        transform translateY(-50%)
        background-image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNy42ODggMTIuNSI+CiAgPHBhdGggZmlsbD0nIzFhOTkxYScgZD0iTTI3MS44MiA0NDAuMzJhMSAxIDAgMCAxIDEuNDEgMGw0Ljk1IDQuOTVhMSAxIDAgMSAxLTEuNDEgMS40MWwtNC45NS00Ljk1YTEgMSAwIDAgMSAwLTEuNDF6bTE3LjEtNS4zYTEgMSAwIDAgMSAuMDEgMS40MWwtMTAuNDQgMTAuNTNhMSAxIDAgMSAxLTEuNDMtMS40bDEwLjQ0LTEwLjUzYTEgMSAwIDAgMSAxLjQyIDB6IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjcxLjUzIC00MzQuNzUpIi8+Cjwvc3ZnPgo=')
        background-repeat no-repeat

    .select2-results__option--highlighted[aria-selected]
      background-color $colors-line-lighter

    .select2-results__option--highlighted[aria-selected=true]
      &::after
        content ''
        position absolute
        right 20px
        top 50%
        width 13px
        height 10px
        transform translateY(-50%)
        background-image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xIC0xIDE2IDE2Ij4KICA8cGF0aCBkPSJNMTQuMjU3LDAuMTY1IEwwLjIwNCwxNC4yMDYiIHN0cm9rZT0iIzZmN2Y4NSIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjwvcGF0aD4KICA8cGF0aCBkPSJNMTQuMjU3LDAuMTY1IEwwLjIwNCwxNC4yMDYiIHN0cm9rZT0iIzZmN2Y4NSIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMjMwNTAwLCA3LjE4NTUwMCkgc2NhbGUoLTEsIDEpIHRyYW5zbGF0ZSgtNy4yMzA1MDAsIC03LjE4NTUwMCkgIj48L3BhdGg+Cjwvc3ZnPg==')
        background-repeat no-repeat

  &-container--simple
    background-color transparent
    font-family 'SeroPro', sans-serif
    font-size 16px
    font-weight 300
    letter-spacing 0
    line-height ( 30/18 )
    padding-bottom 3px
    // z-index 10000
    padding-right 40px

    @media screen and (min-width:$screen-sm-min)
      padding-right 20px
    
    .select2-selection__placeholder
      color #afafb1
    
    .select2-selection--single
      .select2-selection__arrow
        transition .2s transform
        
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiA3LjQiIGNsYXNzPSJpY19hcnJvd19kb3duIj48cGF0aCBzdHJva2U9J25vbmUnIGQ9Ik0xLjQtLjA0TDYgNC4xNmw1LTQuMiAxIDEuNS02IDUuNy02LTUuN3oiIGZpbGw9IiMxYTk5MWEiLz48L3N2Zz4=')
        background-repeat no-repeat
        background-position 50%
        b
          display none


    &.select2-container--open
      .select2-dropdown--above
        border-radius 8px
        margin-top -10px
        
      .select2-selection--single
        .select2-selection__arrow
          transform-origin 50% 50%
          transform rotate(180deg)
          b
            border-color transparent transparent #fff transparent
            border-width 0 6px 6px 6px


    .select2-selection--single
      .select2-selection__arrow
        height 26px
        position absolute
        top 18px
        right 10px
        width 20px

    .select2-results__option
      position relative

    .select2-results__option[aria-selected=true]
      &::after
        content ''
        position absolute
        right 20px
        top 50%
        width 13px
        height 10px
        transform translateY(-50%)
        background-image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNy42ODggMTIuNSI+CiAgPHBhdGggZmlsbD0nIzFhOTkxYScgZD0iTTI3MS44MiA0NDAuMzJhMSAxIDAgMCAxIDEuNDEgMGw0Ljk1IDQuOTVhMSAxIDAgMSAxLTEuNDEgMS40MWwtNC45NS00Ljk1YTEgMSAwIDAgMSAwLTEuNDF6bTE3LjEtNS4zYTEgMSAwIDAgMSAuMDEgMS40MWwtMTAuNDQgMTAuNTNhMSAxIDAgMSAxLTEuNDMtMS40bDEwLjQ0LTEwLjUzYTEgMSAwIDAgMSAxLjQyIDB6IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjcxLjUzIC00MzQuNzUpIi8+Cjwvc3ZnPgo=')
        background-repeat no-repeat

    .select2-results__option--highlighted[aria-selected]
      background-color $colors-line-lighter

    .select2-results__option--highlighted[aria-selected=true]
      &::after
        content ''
        position absolute
        right 20px
        top 50%
        width 13px
        height 10px
        transform translateY(-50%)
        // background-image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xIC0xIDE2IDE2Ij4KICA8cGF0aCBkPSJNMTQuMjU3LDAuMTY1IEwwLjIwNCwxNC4yMDYiIHN0cm9rZT0iIzZmN2Y4NSIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjwvcGF0aD4KICA8cGF0aCBkPSJNMTQuMjU3LDAuMTY1IEwwLjIwNCwxNC4yMDYiIHN0cm9rZT0iIzZmN2Y4NSIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMjMwNTAwLCA3LjE4NTUwMCkgc2NhbGUoLTEsIDEpIHRyYW5zbGF0ZSgtNy4yMzA1MDAsIC03LjE4NTUwMCkgIj48L3BhdGg+Cjwvc3ZnPg==')
        background-repeat no-repeat
    
    .select2-results
      max-height 335px
      overflow-y auto
      
  &-results
    border-radius 8px
    &__options
      border-radius 8px
    &__option
      padding-bottom 15px
      padding-top 15px
      padding-left 20px
      &:first-child
        border-top-left-radius 8px
        border-top-right-radius 8px
      &:last-child
        border-bottom-left-radius 8px
        border-bottom-right-radius 8px
  &-container
    .select2-search--inline
      .select2-search__field
          margin-top 0
          display block
          color $colors-text
          text-overflow ellipsis
          // width 100% !important
          &:focus
            outline none
            border none

    .select2-selection--single
      height 32px
      .select2-selection__rendered
        padding 0
    .select2-selection--multiple
      { $select2 }
        &-selection
          &__rendered
            display block
      @media screen and (min-width:$screen-sm-min)
        height 10px
      { $select2 }
        &-selection
          &__choice
            color #fff
            float left
            background-color $colors-kpp
            border-radius 12px
            padding-left 10px
            padding-right 25px
            font-family "Open Sans"
            font-size 12px
            font-weight 600
            text-transform uppercase
            position relative
            margin-right 5px
            margin-bottom 5px
            letter-spacing .050em
            &__remove
              font-size 18px
              line-height 1
              position absolute
              right 10px
              top 1px
          &__rendered
            padding-left 0
            li
              list-style none
  &-container--open
    .select2-dropdown--below
      border-radius 8px

  &-dropdown
    margin-top 10px
    position absolute
    border none
    box-shadow 0 16px 46px rgba(0, 0, 0, 0.23)
    border-radius 8px
    color #000
