*,
*::before,
*::after
  box-sizing border-box

html
  -ms-text-size-adjust 100%
  -webkit-tap-highlight-color transparent
  -webkit-text-size-adjust 100%
  -webkit-touch-callout none
  overflow-x hidden
  text-rendering geometricprecision

html
input
textarea
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  font-family $font-sans


body
  color $colors-text
  font-family $font-sans

a
  outline 0
  color inherit
  text-decoration none

img
  vertical-align top

svg
  fill currentcolor
  vertical-align middle
  shape-rendering geometricprecision


hr
  margin-top 0
  margin-bottom 0
