@require './../../node_modules/rupture/rupture'

rupture.scale = 0 767px 1023px 1199px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

rupture.anti-overlap = true

rupture.mobile-cutoff = 767px
rupture.desktop-cutoff = 1023px
rupture.hd-cutoff = 1199px

$fonts-path ?= "/local/templates/npfsb/fonts/" 

$transition-duration = .325s
$transition-timing-function = cubic-bezier(.19, 1, .22, 1)

$font-sans = 'SeroPro', Arial, sans-serif

$header-drop-down_z-index = 2500

$colors-ops = #1a991a
$colors-ops-lighter = #76bb33
$colors-ops-acid = #b7f92d

$colors-kpp = #00703c
$colors-kpp-lighter = #00b15e
$colors-kpp-dull = #81c397

$colors-ipp = #ffa715
$colors-ipp-lighter = #ffd97e

$colors-text = #3d4349
$colors-text-lighter = #5b6065

$colors-line = #cfd3d6
$colors-line-lighter = #dfe2e5

$colors-background = #f3f6f9

$screen-sm-min = 768px

$container-sm = 800px
$container-lg = 1200px
