
<div class="npf-page">
  <app-header></app-header>
  <div class="npf-page__body">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<div class="npf-up">Наверх
</div>
<div class="npf-modal-overlay" id="accept-modal">
  <div class="npf-modal-content">
    <div class="npf-accept-detail">
      <div class="npf-accept-title">
        <p>Уважаемый Василий Пупкин!</p>
        <p>Согласно Законодательству, перед оформлением договора, необходимо подтвердить, что:</p>
      </div>
      <div class="npf-accept-text">
        <p>Вы не являетесь иностранным публичным должностным лицом, должностным лицом публичных международных организаций,
          лицом, занимающим определенные государственные должности РФ, должности в государственных федеральных службах,
          корпорациях и иных организациях, назначение на которые  и освобождение от которых осуществляются Президентом
          РФ или Правительством РФ.</p>
        <p>Вы не являетесь супругом (супругой),
          <a href="#">близким родственником </a>(родственником по прямой восходящей и нисходящей линии (родителем, ребенком, дедушкой,
          бабушкой, внуком), полнородным или неполнородным (имеет общего отца или мать) братом или сестрой, усыновителем,
          усыновленным) иностранного публичного должностного лица, должностного лица публичных международных организаций,
          российского должностного лица или действует в его интересах.</p>
        <p>Вы не имеете регистрацию, место жительства или не находитесь в государстве/на территории, которое не выполняет
          рекомендации ФАТФ (Иран, КНДР), либо не использует счета в банке, зарегистрированном в таком государстве/на такой
          территории.</p>
        <p>У Вас нет
          <a href="#">бенефициарного владельца.</a>
        </p>
        <p>Вы имеете стабильное финансовое положение, законный источник доходов и положительную деловую репутацию.</p>
      </div>
      <a class="npf-button _theme_green _s_l" href="#">
        <div class="npf-button__text">
          <span>Подтверждаю</span>
        </div>
      </a>
    </div>
  </div>
</div>