<form #stepForm="ngForm" (ngSubmit)="submitStep()" ngNativeValidate>
  <div class="npf-form-bone__section npf-u-mask-scope">
    <div class="npf-form-bone__groups-holder">
      <div class="npf-form-bone__fields-group">
        <div class="npf-form-bone__group-title">Укажите сумму первоначального взноса</div>
        <div class="npf-form-bone__group-items">
          <div class="npf-form-bone__row">
            <div class="npf-form-bone__full-col">
              <div class="npf-input-group npf-u-mask-field">
                <input name="amount" type="text" class="npf-input-group__input npf-u-mask" [(ngModel)]="formData.amount"
                  [appTooltip]="'Подключите автоплатеж, и регулярные взносы будут списываться автоматически.'"
                  [tooltipMy]="'bottom center'" [tooltipAt]="'top center'" data-mask="intMask" required/>
                <div class="npf-input-group__label">Первоначальный взнос, от 1500 руб.</div>
              </div>
            </div>
            <div class="npf-form-bone__full-col _stick-to-prev">
              <div class="npf-checkbox-group _simple npf-u-mask-field">
                <label>
                  <span class="npf-checkbox-group__checkbox">
                    <input name="autopay_set" type="checkbox" [(ngModel)]="formData.autopay_set">
                    <span class="npf-checkbox-group__styler"></span>
                  </span>
                  <span class="npf-checkbox-group__label">Подключить автоплатеж</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="npf-form-bone__fields-group">
        <div class="npf-form-bone__group-title">Ознакомьтесь с договором-офертой</div>
        <div class="npf-form-bone__group-items">
          <div class="npf-form-bone__content">
            <div class="npf-form-content _theme_a">
              <div class="js-scrollbar">
                <div class="npf-form-content__form-content__wrapper">
                  <p style="text-align: center">ДОГОВОР № [NNN NNNN NNNNNNNNN]</p>
                  <p style="text-align: center">НЕГОСУДАРСТВЕННОГО ПЕНСИОННОГО ОБЕСПЕЧЕНИЯ</p>
                  <p>Акционерное общество «Негосударственный Пенсионный Фонд Сбербанка», именуемое в дальнейшем «Фонд», в лице
                    Генерального директора Морозовой Галины Владимировны, действующего на основании Устава, предлагает Вкладчику,
                    являющемуся (-щейся) вкладчиком в свою пользу (вместе именуемые Стороны) в соответствии со ст. 435 ГК
                    РФ, заключить настоящий договор (далее – Договор), являющийся офертой, на нижеследующих условиях.</p>
                  <p>Договор заключен в электронной форме на условиях, содержащихся в настоящем Договоре и Пенсионных правилах
                    Негосударственного Пенсионного Фонда Сбербанка, утвержденных Советом директоров Фонда 27 февраля 2015
                    года (далее – Пенсионные правила).</p>
                  <p>1.ПРЕДМЕТ ДОГОВОРА</p>
                  <p>1.1. Негосударственное пенсионное обеспечение Вкладчика осуществляется на условиях настоящего Договора
                    в соответствии с Пенсионной схемой «С установленными размерами пенсионных взносов. Негосударственная
                    пенсия выплачивается в течение ряда лет или до исчерпания средств на именном пенсионном счете участника,
                    но не менее 5 лет».</p>
                  <p>1.2. Акцептом Договора (п. 3 ст. 438 ГК РФ), равносильным подписанию собственноручной подписью, считается
                    уплата Вкладчиком первого пенсионного взноса по реквизитам Фонда с назначением платежа в соответствии
                    с п. 2.1.3. Договора.</p>
                  <p>1.3. Графическое изображение подписи Генерального директора Фонда является аналогом собственноручной подписи
                    Генерального директора и графическое изображение печати Фонда – аналогом подлинного оттиска печати Фонда
                    со всеми вытекающими из этого юридическими последствиями.</p>
                  <p>1.4. Акцептом Договора (оферты) Вкладчик подтверждает, что:</p>
                  <ul>
                    <li>• Ознакомлен с Пенсионными правилами, действующими на дату заключения Договора;</li>
                    <li>• Согласен с условиями негосударственного пенсионного обеспечения, изложенными в Договоре и Пенсионных
                      правилах.
                    </li>
                  </ul>
                  <p>2. ОСНОВНЫЕ УСЛОВИЯ ИНДИВИДУАЛЬНОГО ПЕНСИОННОГО ПЛАНА «УНИВЕРСАЛЬНЫЙ»</p>
                  <p>2.1. ПЕНСИОННЫЕ ВЗНОСЫ</p>
                  <p>2.1.1. Вкладчик уплачивает первый пенсионный взнос в размере {{formData.amount | number}} рублей.
                    Если накопительный период менее 24 месяцев – в размере не менее 60 000 рублей. Последующие пенсионные
                    взносы – в размере не менее 500 рублей каждый.</p>
                  <p>2.1.2. Периодичность, продолжительность и сроки уплаты последующих пенсионных взносов – произвольные.</p>
                  <p>2.1.3. В платежном поручении Вкладчик указывает: банковские реквизиты Фонда, ФИО Вкладчика (полностью),
                    сумму пенсионного взноса, в назначении платежа – Пенсионный взнос по договору, номер Договора.</p>
                  <p>2.2. ИМЕННОЙ ПЕНСИОННЫЙ СЧЕТ</p>
                  <p>2.2.1. Фонд, не позднее 30 рабочих дней с даты поступления первого пенсионного взноса на расчетный счет
                    Фонда, открывает Вкладчику именной пенсионный счет (далее ИПС).</p>
                  <p>2.2.2. Обязательства Фонда по Договору перед Вкладчиком возникают с даты поступления на расчетный счет
                    Фонда первого пенсионного взноса.</p>
                  <p>2.3. ИНВЕСТИЦИОННЫЙ ДОХОД</p>
                  <p>2.3.1. Пенсионные резервы по настоящему Договору инвестируются на условиях «Базовой инвестиционной стратегии»
                    (код пенсионной схемы – 1.00.У0.1.).</p>
                  <p>2.3.2. Фонд начисляет доход, полученный от размещения пенсионных резервов на ИПС Вкладчика не позднее второго
                    квартала года, следующего за отчетным, по ставке доходности, утвержденной Советом директоров Фонда.</p>
                  <p>2.3.3. Доход от размещения пенсионных резервов на ИПС Вкладчиков после даты их смерти не начисляется.</p>
                  <p>2.4. НЕГОСУДАРСТВЕННАЯ ПЕНСИЯ</p>
                  <p>2.4.1. Пенсионные основания – право Вкладчика на получение негосударственной пенсии возникает:</p>
                  <ul>
                    <li>• Не ранее возраста установленного законодательством Российской Федерации, действующим на дату заключения
                      Договора, дающего право на получение страховой пенсии по старости;</li>
                    <li>• При наличии пенсионных оснований для получения иных видов пенсии, установленных законодательством Российской
                      Федерации;
                    </li>
                  </ul>
                  <p>2.4.2. Негосударственная пенсия назначается на основании заявления по форме, установленной Фондом с месяца,
                    следующего за месяцем обращения Вкладчика в Фонд и предоставления всех необходимых документов.</p>
                  <p>2.4.3. Периодичность выплаты – ежемесячно.</p>
                  <p>2.4.4. Размер негосударственной пенсии рассчитывается исходя из пенсионной суммы, отраженной на ИПС и продолжительности
                    выплат, указанной Вкладчиком в заявлении о назначении и выплате негосударственной пенсии, но не менее
                    5 лет по формуле:</p>
                  <ul>
                    <li>P= V3/(n*m), где:</li>
                    <li>
                      <ul>
                        <li>V3 – размер пенсионной суммы;</li>
                        <li>m – период выплаты пенсии;</li>
                        <li>n – количество выплат пенсий в году.</li>
                      </ul>
                    </li>
                  </ul>
                  <p>2.4.5. Минимальный размер негосударственной пенсии устанавливается Приказом Фонда.</p>
                  <p>2.4.6. В случае недостаточности пенсионной суммы для обеспечения установленного Фондом минимального размера
                    пенсии Вкладчику предлагается изменить периодичность выплаты негосударственной пенсии с ежемесячной на
                    ежеквартальную или раз в полгода.</p>
                  <p>2.4.7. Последняя пенсия выплачивается в размере остатка средств, учтенных на ИПС.</p>
                  <p>2.4.8. Если на момент окончания периода выплаты доход за год, в котором окончился период выплаты, еще не
                    был начислен, ИПС не закрывается до момента начисления дохода. После начисления дохода Фонд осуществляет
                    дополнительную выплату негосударственной пенсии в размере дохода начисленного за год, в котором окончился
                    период выплаты, и закрывает ИПС Вкладчика.</p>
                  <p>2.4.9. Перерасчет размера негосударственной пенсии производится ежегодно не позднее 1 августа в соответствии
                    с фактически полученным доходом за предшествующий год.</p>
                  <p>2.4.10. При перерасчете размер негосударственной пенсии увеличивается на сумму дохода, начисленного на
                    ИПС за период с даты предыдущего перерасчета (или с даты назначения пенсии, если перерасчет не производился),
                    разделенную на оставшееся число выплат пенсии на дату перерасчета.</p>
                  <p>2.4.11. Корректировка размера негосударственной пенсии, в случае уплаты Вкладчиком пенсионных взносов в
                    период выплат, производится Фондом ежегодно не позднее 1 августа следующего года.</p>
                  <p>2.4.12. При корректировке размер негосударственной пенсии увеличивается на сумму пенсионных взносов, вновь
                    поступивших с даты предыдущей корректировки (с даты назначения пенсии, если корректировки не проводились),
                    деленную на оставшееся число выплат пенсии на дату корректировки.</p>
                  <p>2.5. ИНФОРМИРОВАНИЕ</p>
                  <p>2.5.1. С даты открытия ИПС Фонд размещает на сайте Фонда www.npfsb.ru в разделе «Личный кабинет» следующую
                    информацию о состоянии ИПС: общую сумму накоплений, информацию о поступлении взносов, сумму начисленного
                    дохода, и другую информацию по договору.</p>
                  <p>2.5.2. Фонд бесплатно предоставляет один раз в год Вкладчику по его обращению способом, указанным им при
                    обращении, информацию о состоянии его пенсионного счета в течение 10 дней со дня обращения.</p>
                  <p>2.6. ВЫКУПНАЯ СУММА</p>
                  <p>2.6.1. Размер выкупной суммы в случае расторжения Договора в период накопления рассчитывается как сумма
                    уплаченных пенсионных взносов с учетом коэффициента К1 и инвестиционного дохода с учетом коэффициента
                    К2, указанных в таблице:</p>
                  <ul>
                    <li>Срок действия договора до даты расторжения</li>
                    <li>до 24 месяцев включительно от 24 мес. и 1 дня до 5 лет. от 5 лет и 1 дня</li>
                  </ul>
                  <p>К1 0,8 1,0 1,0</p>
                  <p>К2 0 0,5 1,0</p>
                  <p>2.6.2. При расторжении Договора в период выплат выкупная сумма не выплачивается.</p>
                  <p>2.6.3. В случае смерти Вкладчика, размер выкупной суммы, выплачиваемой правопреемникам (наследникам по
                    завещанию или наследникам по закону), рассчитывается как сумма уплаченных пенсионных взносов и дохода,
                    за вычетом суммы выплаченных Вкладчику негосударственных пенсий.</p>
                  <p>2.6.4. Фонд перечисляет выкупную сумму на банковский счет заявителя или в другой негосударственный пенсионный
                    фонд, указанный в заявлении, в сроки, установленные п.9.5.3 Пенсионных правил.</p>
                  <p>3. ПРАВА И ОБЯЗАННОСТИ СТОРОН</p>
                  <p>3.1. ВКЛАДЧИК обязан:</p>
                  <p>3.1.1. Предоставлять информацию и действительные на дату предъявления документы для идентификации, а также
                    подтверждать сведения в объеме и сроки, установленные Федеральным законом от 07.08.2001 г. 115-ФЗ «О
                    противодействии легализации (отмывании) доходов, полученных преступным путем и финансированию терроризма».</p>
                  <p>3.1.2. Предоставлять в Фонд информацию об изменении идентификационных данных: фамилии, имени, отчества,
                    данных документа, удостоверяющего личность, об изменении адреса, электронного адреса, номеров контактных
                    телефонов, реквизитов банковского счета для перечисления негосударственной пенсии – не позднее 7 дней
                    с момента изменения идентификационных данных.</p>
                  <p>3.1.3. Подтверждать банковские реквизиты для выплаты негосударственной пенсии в порядке, установленном
                    п.8.4.5. Пенсионных правил.</p>
                  <p>3.1.4. Обеспечивать сохранность Договора и документов, подтверждающих уплату пенсионных взносов, в течение
                    всего срока действия Договора.</p>
                  <p>3.2. ВКЛАДЧИК имеет право:</p>
                  <p>3.2.1. Требовать от Фонда исполнения обязательств по Договору в полном объеме.</p>
                  <p>3.2.2. До назначения негосударственной пенсии выбирать другие условия негосударственного пенсионного обеспечения,
                    с учетом ограничений, установленных Пенсионными правилами и Договором. Изменения и дополнения в Договор
                    оформляются дополнительными соглашениями Сторон.</p>
                  <p>3.2.3. Расторгнуть Договор путем подачи Заявления в Фонд по форме, установленной Фондом, получить выкупную
                    сумму или перевести ее в другой негосударственный пенсионный фонд, в соответствии с условиями Договора
                    и Пенсионных правил.</p>
                  <p>3.2.4. Другие права, предусмотренные Пенсионными правилами и законодательством Российской Федерации.</p>
                  <p>3.3. ФОНД обязан:</p>
                  <p>3.3.1. Знакомить Вкладчика с изменениями Пенсионных правил путем размещения Пенсионных правил на сайте
                    Фонда.</p>
                  <p>3.3.2. Направлять на пополнение средств пенсионных резервов не менее 85% дохода, полученного Фондом от
                    размещения средств пенсионных резервов, после вычета вознаграждения управляющей компании (управляющим
                    компаниям) и специализированному депозитарию.</p>
                  <p>3.3.3. Обеспечить сохранность учетных документов в течение 3-х лет после выполнения своих обязательств
                    по Договору.
                  </p>
                  <p>3.3.4. Обеспечить конфиденциальность информации о Вкладчике, за исключением случаев раскрытия информации
                    в соответствии с законодательством Российской Федерации.</p>
                  <p>3.3.5. Другие обязанности, предусмотренные Пенсионными правилами и законодательством Российской Федерации.</p>
                  <p>3.4. ФОНД имеет право:</p>
                  <p>3.4.1. Приостановить выплату негосударственной пенсии до подтверждения банковских реквизитов в соответствии
                    с п.3.1.4 Договора.</p>
                  <p>3.4.2. Приостанавливать выплату негосударственной пенсии на основании требований Федерального закона от
                    07.08.2001 г. №115-ФЗ «О противодействии легализации (отмывании) доходов, полученных преступным путем
                    и финансированию терроризма».
                  </p>
                  <p>3.4.3. Запрашивать у Вкладчика сведения и документы, необходимые для исполнения Фондом требований, Федерального
                    закона от 07.08.2001 г. №115-ФЗ «О противодействии легализации (отмывании) доходов, полученных преступным
                    путем и финансированию терроризма».</p>
                  <p>4. ОТВЕТСТВЕННОСТЬ СТОРОН ЗА НЕИСПОЛНЕНИЕ ОБЯЗАТЕЛЬСТВ</p>
                  <p>4.1. Фонд несет ответственность по обязательствам по Договору всем своим имуществом, на которое по действующему
                    законодательству Российской Федерации может быть обращено взыскание.</p>
                  <p>4.2. Вкладчик несет ответственность по обязательствам по Договору в части уплаты пенсионных взносов, а
                    также в части обязательств, установленных разделами 2-3 Договора и законодательства Российской Федерации.</p>
                  <p>5. СРОК ДЕЙСТВИЯ И ПРЕКРАЩЕНИЯ ДОГОВОРА</p>
                  <p>5.1. Договор вступает в силу с даты поступления на расчетный счет Фонда первого пенсионного взноса Вкладчика.</p>
                  <p>5.2. Договор прекращает свое действие в следующих случаях:</p>
                  <p>5.2.1. Окончательного и полного выполнения Фондом принятых на себя обязательств;</p>
                  <p>5.2.2. Расторжения по инициативе Вкладчика (в т.ч. перевода выкупной суммы в другой негосударственный пенсионный
                    фонд) на условиях пп. 9.4.3, 9.4.4 Пенсионных правил;</p>
                  <p>5.2.3. Смерти Вкладчика;</p>
                  <p>5.2.4. Иных случаях, установленных законодательством Российской Федерации.</p>
                  <p>6. ПОРЯДОК УРЕГУЛИРОВАНИЯ СПОРОВ</p>
                  <p>6.1. Споры и разногласия, которые могут возникнуть при исполнении Договора, будут разрешаться путем переговоров
                    между Сторонами, а достигнутые договоренности оформляться в виде дополнительных соглашений.</p>
                  <p>6.2. До передачи спора на разрешение суда Стороны примут меры к его урегулированию в претензионном порядке.
                    Претензия должна быть направлена в письменном виде. По полученной претензии Сторона обязана дать письменный
                    ответ по существу в срок не позднее 30 (тридцати) календарных дней с даты ее получения.</p>
                  <p>6.3. В случае невозможности разрешения споров путем переговоров Стороны после реализации предусмотренной
                    законодательством процедуры досудебного урегулирования разногласий, передают их на рассмотрение в суд
                    по месту нахождения Фонда.</p>
                  <p>7. СОГЛАСИЯ, ПОДТВЕРЖЕНИЯ И ПРОЧИЕ УСЛОВИЯ</p>
                  <p>7.1. Права и обязанности по Договору не могут быть переданы третьим лицам.</p>
                  <p>7.2. Налогообложение пенсионных взносов, негосударственных пенсий и выкупных сумм осуществляется в соответствии
                    с законодательством Российской Федерации.</p>
                  <p>7.3. Термины и определения, используемые в Договоре, имеют смысл и значение, установленные действующим
                    законодательством Российской Федерации и Пенсионными правилами.</p>
                  <p>7.4. Вкладчик подтверждает, что:</p>
                  <p>7.4.1. Не является иностранным публичным должностным лицом, должностным лицом публичных международных организаций,
                    лицом, занимающим определенные государственные должности РФ, должности в государственных федеральных
                    службах, корпорациях и иных организациях, назначение на которые и освобождение от которых осуществляются
                    Президентом РФ или Правительством РФ, а также супругом (супругой), близким родственником (родственником
                    по прямой восходящей и нисходящей линии (родителем, ребенком, дедушкой, бабушкой, внуком), полнородным
                    или неполнородным (имеет общего отца или мать) братом или сестрой, усыновителем, усыновленным) иностранного
                    публичного должностного лица, должностного лица публичных международных организаций, российского должностного
                    лица или действует в его интересах;</p>
                  <p>7.4.2. Не имеет регистрацию, место жительства или место нахождения в государстве (на территории), которое
                    (которая) не выполняет рекомендации ФАТФ (Иран, КНДР), не использует счета в банке, зарегистрированном
                    в таком государстве (на такой территории).</p>
                  <p>7.4.3. Бенефициарным владельцем является Вкладчик.</p>
                  <p>7.4.4. Имеет стабильное финансовое положение и положительную деловую репутацию, источник происхождения
                    денежных средств – законный.</p>
                  <p>В ином случае Вкладчик обязуется представить в Фонд соответствующие документы.</p>
                  <p>7.5. Вкладчик выражает свое добровольное согласие на осуществление автоматизированной и неавтоматизированной
                    обработки персональных данных, включая сбор, запись, систематизацию, накопление, хранение, уточнение
                    (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), обезличивание,
                    блокирование, удаление, уничтожение предоставленных вкладчиком персональных данных, содержащихся в настоящем
                    Договоре оператором: АО «НПФ Сбербанка» (115162, г. Москва, ул. Шаболовка, 31Г).</p>
                  <p>7.6. Согласие Вкладчика предоставляется для осуществления АО «НПФ Сбербанка» и его уполномоченными лицами
                    ПАО Сбербанк (117997, г. Москва, ул. Вавилова, д. 19), ЗАО «Комфортел» (302020, г. Орел, Наугорское шоссе,
                    д 5.), действующих по поручению Фонда в соответствии с соглашениями о конфиденциальности любых контактов
                    с Вкладчиком, в целях информирования Вкладчика о ходе исполнения оказываемых Вкладчику услуг, о новых
                    продуктах (услуг) и услугах, в целях проведения опросов и исследований и анализа их результатов, а также
                    в целях осуществления рассылки иной информации посредством электронной связи или иным способом (включая
                    почту, электронную почту, SMS).</p>
                  <p>В случае изменения уполномоченных лиц Фонд размещает информацию об этом на сайте Фонда.</p>
                  <p>7.7. Согласие на обработку персональных данных, содержащееся в настоящем Договоре, действует в соответствии
                    с законодательством Российской Федерации с даты заключения настоящего Договора. Согласие может быть отозвано
                    Вкладчиком исключительно путем письменного уведомления в АО «НПФ Сбербанка» (115162, г. Москва, ул. Шаболовка,
                    31Г).
                  </p>
                  <p>8. РЕКВИЗИТЫ СТОРОН</p>
                  <p>ФОНД: АО «НПФ Сбербанка»</p>
                  <p>Адрес места нахождения: 115162, Москва, ул. Шаболовка, д.31Г</p>
                  <p>Почтовый адрес:115162, Москва, ул. Шаболовка, д.31Г</p>
                  <p>ИНН 7725352740 КПП 772501001 Банковские реквизиты: расчетный счет: 40701810300020001347. Кор. счет №30101810400000000225
                    ПАО Сбербанк г. Москва БИК 044525225 Телефон: (495) 784-64-72</p>
                  <p>ВКЛАДЧИК: {{step1Data.last_name}} {{step1Data.name}} {{step1Data.second_name}}</p>
                  <p>Гражданство, вид и реквизиты документа, удостоверяющего личность, дата рождения, место рождения, пол, ИНН
                    (при наличии), СНИЛС (при наличии) Гражданство РФ паспорт {{step2Data.passport}}, выдан {{step2Data.issue_org}}
                    {{formData.issue_date}}, код подразделения {{step2Data.issue_org_code}}, дата рождения {{step2Data.birthdate}},
                    место рождения {{step2Data.birth_place}}, пол {{step1Data.gender}}, {{step2Data.inn ?
                    'ИНН ' + step2Data.inn + ', ' : ''}} {{step2Data.snils ? 'СНИЛС ' + step2Data.snils :
                    ''}}</p>
                  <p>
                    Адрес места жительства (регистрации) {{step2Data.reg_cname}}, {{step2Data.reg_no_street
                    ? '' : 'ул. ' + step2Data.reg_street}}, дом {{step2Data.reg_house}}, {{step2Data.reg_build
                    ? ' строение ' + step2Data.reg_build : '' }} {{step2Data.reg_no_apt ? '' : ' кв. ' + step2Data.reg_apt}}</p>
                  <p>
                    Адрес места пребывания {{step2Data.fact_cname}}, {{step2Data.fact_no_street ? '' : 'ул. ' + step2Data.fact_street}},
                    дом {{step2Data.fact_house}}, {{step2Data.fact_build ? ' строение ' + step2Data.fact_build
                    : '' }} {{step2Data.fact_no_apt ? '' : ' кв. ' + step2Data.fact_apt}}
                  </p>
                  <p>Телефон для связи (мобильный) {{step1Data.tel}}</p>
                  <p *ngIf="step1Data.tel_stat">Телефон для связи (домашний) {{step1Data.tel_stat}}</p>
                  <p>Электронная почта {{step1Data.email}}</p>
                  <p>ФОНД:</p>
                  <p>_______________ /Г.В. Морозова/</p>
                  <p>(подпись)</p>
                  <p>М.П.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="npf-form-bone__row">
            <div class="npf-form-bone__full-col">
              <div class="npf-checkbox-group _simple npf-u-mask-field">
                <label>
                  <span class="npf-checkbox-group__checkbox">
                    <input name="subscribe" type="checkbox" [(ngModel)]="formData.subscribe" required/>
                    <span class="npf-checkbox-group__styler"></span>
                  </span>
                  <span class="npf-checkbox-group__label">Я согласен получать информационные материалы по электронной почте и СМС.</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="npf-form-bone__btns-holder _right-side">
      <a class="npf-button _theme_no-border _s_l" (click)="goBack()">
        <div class="npf-button__text">
          <span>Отмена</span>
        </div>
      </a>
      <button type="submit" class="npf-button _theme_transparent _s_l">
        <div class="npf-button__text">
          <span>Следующий шаг</span>
          <span class="npf-button__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="-1 -1 8 14">
              <path fill="none" d="M0 0l5.672 5.992L0 11.983" />
            </svg>
          </span>
        </div>
      </button>
    </div>
  </div>
</form>