.npf-tooltip
  cursor pointer
  display inline
  border-bottom 1px dashed $colors-line-lighter

.npf-tooltip__theme
  &._white
    border 1px solid transparent
    background-color white
    border-radius 10px
    box-shadow 0 10px 81px rgba(0, 0, 0, 0.2)
    color black
    font-size 14px
    font-weight 300
    line-height 25px
    letter-spacing .02em
    padding 10px 20px
    position absolute
    pointer-events none
