<div class="npf-form-bone _ipp-form">
  <div class="npf-form-bone__header">
    <div class="npf-form-bone__header-top">Оформление индивидуального пенсионного плана</div>

    <div class="npf-form-bone__header-steps">
      <div class="npf-steps-line _centred">
        <div class="npf-steps-line__steps-holder">
          <div class="npf-steps-line__progress-bar"></div>
          <div class="npf-steps-line__steps">
            <step-symbol [index]="ind + 1" [progress]="state" *ngFor="let state of states; index as ind"></step-symbol>
            <step-symbol [complete]='true'></step-symbol>
          </div>
        </div>
        <div class="npf-steps-line__help-holder">
          <a class="npf-steps-line__help npf-modal-show" href="#help">?</a>
        </div>
      </div>
    </div>
  </div>
  <app-form-step-1 [hidden]="currentStep !== 1"></app-form-step-1>
  <app-form-step-2 [hidden]="currentStep !== 2"></app-form-step-2>
  <app-form-step-3 [hidden]="currentStep !== 3"></app-form-step-3>

</div>

