include ../../button/button.component.pug

mixin header-slider(title, subtitle, img, circle, circleclass, btn, selector, text, className, icon, params, iconPath, amount)
  +b.header-slide&attributes(attributes)
    if amount > 0
      - var n = 0
      while n < amount
        +e.item(style="background-image: url(/local/templates/npfsb/images/" + img + ")")
          +e.text
            if subtitle != false
              +e.title!= subtitle
            +e.slogan!=title
          if circle != false
            case circleclass
              when '_theme_green'
                +e.circle._js-circle._theme_green._s_l
                +e.circle._js-circle._theme_orange._s_m
              when '_theme_1-green_left-top'
                +e.circle._js-circle._theme_green._p_left-top._s_l
              when '_theme_1-green_right-bottom'
                +e.circle._js-circle._theme_green._p_right-bottom._s_l
              default
                +e.circle._js-circle._theme_orange._s_l
                +e.circle._js-circle._theme_green._s_m
          if btn != false
            +e.button
              +button(selector, text, className, icon, params, iconPath)
        - n++
    else
      +e.item(style="background-image: url(/local/templates/npfsb/images/" + img + ")")
        +e.text
          if subtitle != false
            +e.title!= subtitle
          +e.slogan!=title
        if circle != false
          case circleclass
            when '_theme_green'
              +e.circle._js-circle._theme_green._s_l
              +e.circle._js-circle._theme_orange._s_m
            when '_theme_1-green_left-top'
              +e.circle._js-circle._theme_green._p_left-top._s_l
            when '_theme_1-green_right-bottom'
              +e.circle._js-circle._theme_green._p_right-bottom._s_l
            default
              +e.circle._js-circle._theme_orange._s_l
              +e.circle._js-circle._theme_green._s_m
        if btn != false
          +e.button
            +button(selector, text, className, icon, params, iconPath)
