+b.footer-menu
  +e.list
    +e.item._js-accordion._hidden
      +e.title._js-accordion__header
        | О Фонде
        span._js-accordion__icon: include ../../../icons/ic_arrow_down.svg
      +e.links._js-accordion__body
        +e.A.link(href="/bundle/about.html") Общая информация
        +e.A.link(href="/bundle/management.html") Руководство НПФ Сбербанка
        +e.A.link(href="/bundle/fund-numbers.html") Фонд в цифрах
        +e.A.link(href="/bundle/disclosure/index.html") Раскрытие информации и реквизиты
    +e.item._js-accordion._hidden
      +e.title._js-accordion__header
        | Для себя
        span._js-accordion__icon: include ../../../icons/ic_arrow_down.svg
      +e.links._js-accordion__body
        +e.A.link(href="/bundle/product/ipp/index.html") Индивидуальные пенсионные планы
        +e.A.link(href="/bundle/product/ops/index.html") Обязательное пенсионное страхование
        +e.A.link(href="/bundle/services.html") Клиентам НПФ Сбербанка
        +e.A.link(href="/bundle/faq/faq-index.html") Вопросы и ответы
    +e.item._js-accordion._hidden
      +e.title._js-accordion__header
        | Бизнесу
        span._js-accordion__icon: include ../../../icons/ic_arrow_down.svg
      +e.links._js-accordion__body
        +e.A.link(href="/bundle/programs.html") Работнику
        +e.A.link(href="/bundle/business/index.html") Работодателю
    +e.item._js-accordion._hidden
      +e.title._js-accordion__header
        | Инвестиционная деятельность
        span._js-accordion__icon: include ../../../icons/ic_arrow_down.svg
      +e.links._js-accordion__body
        +e.A.link(href="#") Об инвестиционной деятельности
        +e.A.link(href="#") Показатели инвестиционной деятельности
    +e.item._js-accordion._hidden
      +e.title._js-accordion__header
        | Пресс-центр
        span._js-accordion__icon: include ../../../icons/ic_arrow_down.svg
      +e.links._js-accordion__body
        +e.A.link(href="/bundle/news.html") Новости
        +e.A.link(href="/bundle/articles.html") Статьи и интервью
    +e.item
      +e.A.title._margin-bottom_20(href='/bundle/jobs.html') Соискателям
        +e.SPAN.icon: include ../../../icons/ic_arrow_next.svg
      +e.A.title(href='/bundle/contacts.html') Контактная информация
        +e.SPAN.icon: include ../../../icons/ic_arrow_next.svg
